<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      border-width: 1px;
      border-color: #ddd;
      border-style: solid;
      text-align: center;
    }
    th, td {
      border-width: 1px;
      border-color: #ddd;
      border-style: solid;
      padding: 8px;
      text-align: center;
    }
  </style>
</head>
<body>
<h1>판매자 신청 리스트</h1>
<table>
  <thead>
    <tr>
      <th>인덱스 번호</th>
      <th>유저 이름</th>
      <th>유저 아이디</th>
      <th>유저 이메일</th>
      <th>유저 연락처</th>
      <th>브랜드 이름</th>
      <th>주 판매 상품</th>
      <th>상품 샘플 이미지</th>
      <th>승인/거부</th>
    </tr>
  </thead>
  <tbody>
  <tr th:each="info : ${sellerInfoList}">
    <td th:text="${info.seller_idx}"></td>
    <td th:text="${info.seller_name}"></td>
    <td th:text="${info.seller_id}"></td>
    <td th:text="${info.seller_email}"></td>
    <td th:text="${info.seller_phone}"></td>
    <td th:text="${info.seller_page_title}"></td>
    <td th:text="${info.goods_tag}"></td>
    <td th:text="${info.sample_img}"></td>
    <td>
      <input type="hidden" id="user_idx" th:value="${info.user_idx}">
      <button onclick="submit()">승인</button>/
      <button onclick="denial()">거부</button>
    </td>
  </tr>
  </tbody>
</table>
<script>
  function submit() {
    $.ajax({
      type: "post",
      url: "/rest/approve_seller",
      data:{user_idx: $("#user_idx").val()},
      success: function(data){
        alert("승인되었습니다.");
        location.reload();
      }
    });
  }

  function denial() {
    $.ajax({
      type: "post",
      url: "/rest/denial_seller",
      data:{user_idx: $("#user_idx").val()},
      success: function(data){
        alert("거부되었습니다.");
        location.reload();
      }
    });
  }
</script>
</body>
</html>