<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="footer-head">
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body th:fragment="footer-body">
<div class="container-fluid light text-gray" style="margin-top:30px; padding-bottom:30px">
    <div class="container">
        ✨Team Dalda✨
        <p><a href="https://github.com/kim43879/TeamDaldagu1Project" target="_blank">GitHub Repository</a></p>
        이 서비스는 포트폴리오용 프로젝트로, 상업적 목적이 아닌 학습과 실습을 위해 제작되었습니다. <br />
    </div>
</div>
</body>
</html>