<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<style>
	.card-main{
		margin-top: 88px; 
		padding-left: 186px; 
		padding-right: 186px;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
	}
	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}
	.show {
		display: block;
	}
	#board_info{
		margin-top: 90px;
		padding-left: 12%;
	}
	#board_text{
		background-color: white;
	}
	       
</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>
	
<!-- 게시글 확인 -->
<div class="container mt-12" id="board_info">
	<div class="row g-0">
		<div class="col-md-10">
			<h6 class="card-title"><b>&ensp;《공지사항》</b></h6>
			<div class="card">
				<div class="card-body">

					<div class="form-group">
						<label for="notice_title">*제목</label>
						<input type="text" id="notice_title" class="form-control" th:value="${notice.notice_title}" style="background-color: white;" readonly/>
					</div>

					<div class="form-group">
						<label for="admin_id">*작성자</label>
						<input type="text" id="admin_id" class="form-control" th:value="${notice.notice_writer_idx}" style="background-color: white;" readonly />
					</div>

					<div class="form-group">
						<label for="notice_text">*내용</label>
						<textarea id="notice_text" class="form-control" rows="10" style="resize:none; background-color: white;" th:text="${notice.notice_text}" readonly>
						</textarea>
					</div>

					<div class="form-group">
						<div class="text-right">
							<a href="/board/notice_normal" class="btn btn-outline-info">뒤로가기</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<br /><hr />
	
<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>
	
</body>
</html>