<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<style>
	.card-main{
		margin-top: 88px;
		padding-left: 186px;
		padding-right: 186px;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
	}
	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}
	.show {
		display: block;
	}
	#sample{
		padding-top: 10px;
	}
	.resize{
		width: 35%;
		height: auto;
	}
	#text{
		text-align: center;
	}
	#pay_info{
		margin-top: 100px;
		padding-left: 12%;
	}
	#user_info{
		padding-left: 12%;
	}
	.test{
		width: 275px;
	}
	#addr_info{
		padding-left: 12%;
	}
	#p1, #p2, #p3 {

	}
	
</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>

	<!-- 상품구매 정보 -->
	<div class="container mt-12" id="pay_info">
		<div class="row g-0">
			<div class="col-md-10"><br />
				<div class="card">
				<div class="card-header"><strong>&ensp;주문 리스트</strong></div>
					<div class="card-body">
						<table class="table">
							<tr>
								<th>주문정보</th>
								<th scope="col">제품명</th>
								<th scope="col">수량</th>
								<th scope="col">금액</th>
							</tr>
							
							<tbody class="table-group-divider">
								<tr>
									<th scope="row">odrder_idx</th>
									<td><a href="goods_page.html">goods_name</a></td>
									<td>goods_amount</td>
									<td>goods_price</td>
								</tr>
							</tbody>
							
						</table>
						<hr />
						<h6>&ensp;*옵션: goods_option</h6>
					</div>
					
				</div>
				<br />
				
			</div>
		</div>
	</div> <br />
	
	<!-- 구매자 정보 -->
	<div class="container card-wrapper" id="user_info">
		<div class="row">
			<div class="col-md-10">
				<div class="card">
				<div class="card-body">
					<form action="#" method="post">
						<div class="mb-4">
							<h6><b>&emsp;주문자 정보</b></h6>
							<hr />
						</div>
						
						<div class="mb-3">
							<div class="d-flex align-items-center">
								<label for="user_name" class="mb-0 me-2">&ensp;이름</label>
								&ensp;&ensp;&nbsp;&nbsp;
								<input type="text" id="user_name" class="form-control test" disabled="disabled" value="user_name" />
							</div>
						</div>
						
						<div class="mb-3">
							<div class="d-flex align-items-center">
								<label for="user_email" class="mb-0 me-2">&ensp;이메일</label>
								&ensp;
								<input type="email" id="user_email" class="form-control test" />
							</div>
						</div>
						
						<div class="mb-3">
							<div class="d-flex align-items-center">
								<label for="user_phone" class="mb-0 me-2">&ensp;연락처</label>
								&ensp;
								<input type="text" id="user_phone" class="form-control test" style="width: 81px;"/>
									&nbsp;<span>-</span>
								&nbsp;
								<input type="text" id="user_phone" class="form-control test" style="width: 81px;"/>
									&nbsp;<span>-</span>
								&nbsp;
								<input type="text" id="user_phone" class="form-control test" style="width: 81px;"/>
							</div>
						</div>
						
					</form>
				</div>
				</div>
			</div>
		</div>
	</div> <br />
	
	<!-- 배송지 정보 -->
	<div class="container" id="addr_info">
		<div class="row">
			<div class="col-md-10">
				<div class="card">
				<div class="card-body">
					<form action="#" method="post">
						<div class="mb-4">
							<h6><b>&emsp;배송지 정보</b></h6>
							<hr />
						</div>
						
						<div class="mb-3">
							<div class="d-flex align-items-center">
								<label for="user_name" class="mb-0 me-2">&ensp;이름</label>
								&ensp;&ensp;&nbsp;&nbsp;
								<input type="text" id="user_name" class="form-control test" value="user_name" />
							</div>
						</div>
						
						<div class="mb-3">
							<div class="d-flex align-items-center">
								<label for="user_phone" class="mb-0 me-2">&ensp;연락처</label>
								&ensp;
								<input type="text" id="user_phone" class="form-control test" style="width: 81px;"/>
									&nbsp;<span>-</span>
								&nbsp;
								<input type="text" id="user_phone" class="form-control test" style="width: 81px;"/>
									&nbsp;<span>-</span>
								&nbsp;
								<input type="text" id="user_phone" class="form-control test" style="width: 81px;"/>
							</div>
						</div>
						
						<div class="mb-3">
							<div class="d-flex align-items-center">
								<label for="user_addr" class="mb-0 me-2">&ensp;주소</label>
								&ensp;&ensp;&nbsp;&nbsp;
								<input type="text" id="user_post" class="form-control test" value="user_post" style="width: 90px;" />
								
								<input type="text" id="user_addr" class="form-control test" value="user_addr" />
							</div>
						</div>
						
						<div class="mb-3">
							<div class="d-flex align-items-center">
								<label for="user_memo">&ensp;메모</label>
								&ensp;&ensp;&nbsp;&nbsp;
								<input type="text" id="user_memo" class="form-control test" value="배송 요청사항을 입력해주세요."/>
								&nbsp;
								<button type="button" class="btn btn-outline-info">저장</button>
							</div>
						</div>
						
					</form>
				</div>	
				</div>
			</div>
		</div>
	</div> <br />
	
	<!-- 결제 -->
	<div class="container card-wrapper" id="user_info">
		<div class="row">
			<div class="col-md-10">
				<div class="card">
				<div class="card-body">
					<form action="#" method="post">
						<div class="mb-4">
							<h6><b>&emsp;결제 정보</b></h6>
							<hr />
						</div>
						
						<div class="mb-3">
							<div class="form-check">
								&ensp;
								<input class="form-check-input" type="radio" name="paymentMethod" value="creditCard" id="flexCheckChecked" checked/>
								<label class="form-check-label" for="flexCheckChecked">&ensp;신용카드</label>
							</div>
							
							<div class="form-check">
								&ensp;
								<input class="form-check-input" type="radio" name="paymentMethod" value="bankTransfer" id="flexCheckDefault"/>
								<label class="form-check-label" for="flexCheckDefault">&ensp;무통장입금</label>
							</div>
							
						</div>
						
					</form>
				</div>
				</div>
			</div>
		</div>
	</div> <br />
	
	<div class="text-center">
		<a href="goods_page.html" type="button" class="btn btn-outline-danger">주문취소</a> &ensp;
		<a href="../user/pay_complete.html" type="button" class="btn btn-outline-success" onclick="order_complete()">주문하기</a>
		
		<script>
			function order_complete() {
				alert("주문이 완료되었습니다.");
			}
		</script>
	
	</div> &nbsp;
	<hr />
	
	<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>

</body>
</html>
