<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>달다구리스</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <style>
        .card-main{
            margin-top: 88px;
            padding-left: 186px;
            padding-right: 186px;
        }
        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
        }
        .dropdown-menu a:hover {
            background-color: #f1f1f1;
        }
        .show {
            display: block;
        }
        #sample{
            padding-top: 10px;
        }
        .resize{
            width: 35%;
            height: auto;
        }
        #search_info{
		    padding-top: 70px;
        }
        #search_price{
            align-items: center;
        }
        #cardd{
		    width: 80%;
		    padding-top: 70px; padding-left: 25px;
	    }
    </style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
    <div th:replace="page_header/header.html :: header-head"></div>
    <div th:replace="page_header/header.html :: header-body"></div>
</div>


<!--검색 조건-->
<div class="container mt-12" id="search_info">
    <div class="card">
    <div class="card-header">
        <h6><b>《상품검색》</b></h6>
    </div>
        <form action="/">
        <div class="card-body">
            <div class="select-group" style="text-align:center;">
                <span><b>검색단어:</b> "입력내용"</span>
                <hr />

                <div class="form-group" style="text-align:center;">
                    <label for="search_option1">상품분류</label> &nbsp;
                    <select class="btn border-secondary dropdown-toggle" id="search_option1" onchange="search()">
                        <option selected="selected">-</option>
                        <option value="opt1">브랜드1</option>
                        <option value="opt2">브랜드2</option>
                        <option value="opt3">브랜드3</option>
                    </select>
                </div>

                <div class="mb-3" style="margin-left:39%;">
                    <div class="d-flex align-items-center" id="search_price">
                        <label for="search_option1">가격대</label> &nbsp;
                        <input type="text" class="form-control border-secondary" style="width: 100px;">
                            &nbsp;<span>~</span>
                        &nbsp;
                        <input type="text" class="form-control border-secondary" style="width: 100px;">
                    </div>
                </div>

                <div class="form-group" style="text-align:center;">
                    <label for="search_sort">정렬기준</label> &nbsp;
                    <select class="btn border-secondary dropdown-toggle" id="search_sort" onchange="search()">
                        <option selected="selected">-</option>
                        <option value="opt1">상품명순</option>
                        <option value="opt2">낮은가격순</option>
                        <option value="opt3">높은가격순</option>
                        <option value="opt3">조회수순</option>
                    </select>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-outline-info">검색</button>
                </div>

            </div>

        </div>
        </form>
    </div>
</div>
<hr />

<!--출력 상품1-->
<div class="container mt-12">
    <div class="row" style="margin-left: 10px;">
        <b class="space">n개의 판매작품</b> &emsp;
    </div>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search1.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search1.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search1.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search1.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>

    </div>
</div>
<br/>

<!--출력 상품1-->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search2.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search2.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search2.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card" style="width: 100%;">
                <img th:src="@{/img/search2.jpg}">
                <div class="card-body">
                    <h5 class="card-title">goods_name</h5>
                    <p class="card-text">goods_price</p>
                    <a href="goods_page.html" class="btn btn-outline-info">상품보기</a>
                </div>
            </div>
        </div>
    </div>

</div>
<br />
<hr />

<!-- 하단 -->
<div id="footer">
    <div th:replace="page_footer/footer.html :: footer-head"></div>
    <div th:replace="page_footer/footer.html :: footer-body"></div>
</div>

</body>
</html>