<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="form-group">
    <span class="badge text-bg-primary rounded-pill">배송지 수정</span>
    <hr />
    <form action="/user/add_user_addr/add" method="post" th:object="${addrBean}">
        <input type="hidden" th:field="*{user_idx}">
        <div class="form-group">
            <label for="user_name">*배송지 이름</label>
            <input type="text" id="user_name" class="form-control" th:field="*{addr_name}"/>
        </div>

        <div>
            <label for="user_phone">*연락처</label>
            <input type="text" id="user_phone" class="form-control" th:field="*{addr_phone}"/>
        </div>

        <div>
            <label for="user_post">*우편번호</label>
            <input type="text" id="user_post" class="form-control" th:field="*{user_post}" readonly>
        </div>

        <div>
            <label for="user_addr">*주소</label>
            <input type="text" id="user_addr" class="form-control" onclick="kakaopost()" th:field="*{user_addr1}"/>
        </div>

        <div>
            <label for="user_addr_detail">*주소상세</label>
            <input type="text" id="user_addr_detail" class="form-control" th:field="*{user_addr2}">
        </div>
        <br />
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function kakaopost() {
                // Set a same-site cookie for first-party contexts
                document.cookie = 'cookie1=value1; SameSite=None';
                new daum.Postcode({
                    oncomplete: function(data) {
                        var addr = ''; //주소변수
                        var extraAddr = '';

                        //사용자가 선택한 주소타입에 따라
                        if(data.userSelectedType === 'R') { //도로명
                            addr = data.roadAddress;
                        } else { //지번주소
                            addr = data.jibunAddress;
                        }

                        //도로명
                        if(data.userSelectedType == 'R') {
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            //건물명이 있고, 공동주택일 경우
                            if(data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            //참고사항이 있을 경우 추가
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            //조합된 항목
                            document.getElementById("user_addr").value = extraAddr;

                        } else {
                            document.getElementById("user_addr").value = '';
                        }
                        //우편번호와 주소 정보를 해당 필드에 주입
                        document.getElementById("user_post").value = data.zonecode;
                        document.getElementById("user_addr").value = addr;

                        //커서를 주소 필드로 이동
                        document.getElementById("user_addr_detail").focus();
                    }
                }).open();
            }

        </script>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="reset" class="btn btn-outline-warning btn-sm-sm">취소</button>
        &emsp;
        <button type="submit" class="btn btn-outline-success btn-sm-sm">주소입력</button>
    </div>
    <script>
        function add_addr() {
            alert("주소를 추가했습니다.");
            window.close();
        }
    </script>
    </form>
</div>

</body>
</html>
