<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<style>
	.card-main{
		margin-top: 88px; 
		padding-left: 186px; 
		padding-right: 186px;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
	}
	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}
	.show {
		display: block;
	}
	
</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>
	
	<!-- 로그인 -->
	<div class="container" style="margin-top:60px">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<div class="card-shadow">
					<div class="card-body">
						<div class="alert alert-primary" th:if="${fail}">
							<br />
							<h4>⛔로그인 실패⛔</h4>
							<p>아이디 비밀번호를 확인해주세요.</p>
							<h6>처음이신가요? 달다구리의 회원이 되어주세요!</h6>
							<br />
						</div>
						
						<form action="/user/login_pro" method="post" th:object="${userBean}">
							<div class="form-group">	<!-- user_id -->
								<label for="user_id">아이디</label>
								<input type="text" id="user_id" th:field="*{user_id}" class="form-control" />
							</div>
							<div class="form-group">	<!-- user_pw -->
								<label for="user_pw">비밀번호</label>
								<input type="password" id="user_pw" th:field="*{user_pw}" class="form-control" />
							</div>
							<div class="d-grid gap-2 col-6 mx-auto">
								<button type="submit" class="btn btn-outline-info" role="button" data-bs-toggle="button">로그인</button>
								&ensp;
								<a href="/user/join" class="btn btn-outline-success" role="button" data-bs-toggle="button">회원가입</a>
							</div>
							&ensp;
						</form>
						
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	<hr />
	
	<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>
	
</body>
</html>