<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<style>
	.card-main{
		margin-top: 88px; 
		padding-left: 186px; 
		padding-right: 186px;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
	}
	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}
	.show {
		display: block;
	}   
	.card-profile {
		margin-top: 88px;
		padding-left: 50px;
	}
	.card-wrapper {
		margin-top: 20px;
	}
	
</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
    <div th:replace="page_header/header.html :: header-head"></div>
    <div th:replace="page_header/header.html :: header-body"></div>
</div>

	<!-- 유저프로필 라인 -->
<div id="profile">
    <div th:replace="page_profile/profile.html :: profile-body"></div>
</div>

   <!-- 하단 -->
<div id="footer">
    <div th:replace="page_footer/footer.html :: footer-head"></div>
    <div th:replace="page_footer/footer.html :: footer-body"></div>
</div>

</body>
</html>
