<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<style>
	.card-main{
		margin-top: 88px; 
		padding-left: 186px; 
		padding-right: 186px;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
	}
	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}
	.show {
		display: block;
	}
	.card-profile{
		margin-top: 88px; padding-left: 50px;
	}	
	.card-wrapper {
		margin-top: 20px;
	}
	#card1 {
		width: 90%;
		margin-top: -990px; margin-left:250px; padding-left: 20px; padding-right: 20px;
	}
	#pay_info{
		margin-top: 80px;
		padding-left: 12%;
	}
	#review_info{
		margin-top: 30px;
		padding-left: 12%;
	}
	       
</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>

	<!-- 유저프로필 라인 -->
<div id="profile">
	<div th:replace="page_profile/profile.html :: profile-head"></div>
	<div th:replace="page_profile/profile.html :: profile-body"></div>
</div>
	
	<!-- 리뷰작성 목록 -->
	<div class="container mt-2 card-wrapper">
		<div class="row">
		<div class="col-md-8" id="card1">
		&ensp;《작성 가능한 리뷰》&nbsp; <small style="color: gray;">최근 1년간 주문한 상품 내역에 한해 작성 가능</small>
			<ol class="list-group list-group-numbered">
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>
					</div>
				</li>
				
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>
						
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>
				
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>
				
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>

				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>
				
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>
				
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					<span class="badge text-bg-primary rounded-pill">*주문일: order_date</span>
						<div class="fw-bold">상품명: <a href="../goods/goods_page.html" class="card-link"><b>goods_name</b></a></div>
						판매자: <a href="../goods/goods_seller.html" class="card-link">seller_page</a></div>
						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<a href="review_write.html" class="btn btn-outline-success btn-sm-sm-sm-sm" role="button" data-bs-toggle="button">리뷰작성</a>						
					</div>
				</li>
			</ol>
			<br />

			<!-- 페이지 -->
			<div class="d-none d-md-block">
				<ul class="pagination justify-content-center">
					<li class="page-item">
						<a href="#" class="page-link">&laquo;</a>
					</li>
					<li class="page-item">
						<a href="#" class="page-link">1</a>
					</li>
					<li class="page-item">
						<a href="#" class="page-link">2</a>
					</li>
					<li class="page-item">
						<a href="#" class="page-link">&raquo;</a>
					</li>
				</ul>
			</div>
			
			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a href="user_page.html" class="btn btn-outline-primary" role="button" data-bs-toggle="button" aria-pressed="true">돌아가기</a>
			</div>
		</div>
		</div>
	</div>
	<br /><hr />

	<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>
	
</body>
</html>
