<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
	.card-main{
		margin-top: 88px; 
		padding-left: 186px; 
		padding-right: 186px;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
	}
	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}
	.show {
		display: block;
	}
	.card-profile{
		margin-top: 88px; padding-left: 50px;
	}
	.card-wrapper {
		margin-top: 20px;
	}
	#card1 {
		width: 90%;
		margin-top: -990px; margin-left:250px; padding-left: 20px; padding-right: 20px;
	}
	
</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>
	
	<!-- 유저프로필 라인 -->
<div id="profile">
	<div th:replace="page_profile/profile.html :: profile-head"></div>
	<div th:replace="page_profile/profile.html :: profile-body"></div>
</div>

<!-- 배송지 정보 -->
<div class="container mt-2 card-wrapper">
	<div class="row">
		<div class="col-md-8" id="card1">
			&ensp;《배송지 관리》
			<ol class="list-group list-group-numbered" id="addr-list">
				<li class="list-group-item d-flex justify-content-between align-items-start" th:each="addr,index : ${testAddr}">
					<div class="form-group ms-2 me-auto">
						<input type="hidden" th:value="${addr.addr_idx}" th:attr="id='addr_idx' + ${index.index}" />
						<span class="badge text-bg-primary rounded-pill" th:text="${addr.message}"></span>
						<b><div class="fw-bold" th:text="${addr.addr_name}"></div></b> <!--user_name-->
						<span th:text="${addr.addr_phone}"></span> <br>
						(<span th:text="${addr.user_post}"></span>)
						<span th:text="${addr.user_addr}"></span>
					</div>

					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						&emsp;&emsp;&emsp;
						<button type="submit" class="btn btn-outline-warning btn-sm-sm-sm-sm" th:onclick="addr_delete([[${index.index}]])">삭제</button> &nbsp;

						<button class="btn btn-outline-success" id="user_post1" th:onclick="addr_update([[${index.index}]])" value="">수정</button>
					</div>

				</li>
			</ol>
			<script th:inline="javascript">
				function addr_update(num) {
                    let idx = $("#addr_idx" + num).val();
                    console.log(idx);
                   window.open("/user/update_user_addr?addr_idx=" + idx, "", 'width=600,height=550');
               }

				function addr_delete(num) {
					let idx = $("#addr_idx" + num).val();
					$.ajax({
                        url: "/rest/delete_addr",
                        type: "post",
                        data: { "addr_idx": idx },
                        success: function(result) {
                            alert(result);
                            location.reload();
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
				}
			</script>
			<br />

			<div class="d-grid gap-2 d-md-flex justify-content-md-end">
				<a href="user_page.html" class="btn btn-outline-info" role="button" data-bs-toggle="button" aria-pressed="true">돌아가기</a>
				&emsp;
				<button class="btn btn-outline-primary" id="add_addr" onclick="addr_add()" value="">추가등록</button>
			</div>

			<script>
				function addr_add() {
                   window.open("/user/add_user_addr", "", 'width=600,height=550');
               }
			</script>

		</div>
	</div>
</div>
<hr />

	<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>
	
</body>
</html>
