<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<style>
	.card-main{
		margin-top: 88px; 
		padding-left: 186px; 
		padding-right: 186px;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		border: 1px solid #ddd;
	}
	.dropdown-menu a:hover {
		background-color: #f1f1f1;
	}
	.show {
		display: block;
	}
	.card-profile{
		margin-top: 88px; padding-left: 50px;
	}
	.card-wrapper {
		margin-top: 20px;
	}
	#card1{
		width: 90%;
		margin-top: -850px; margin-left:250px; padding-left: 20px; padding-right: 20px;
	}
	#card2 {
		width: 90%;
		margin-top: -620px; margin-left:250px; padding-left: 20px; padding-right: 20px;
	}
	#card3 {
		width: 90%;
		margin-top: -450px; margin-left:250px; padding-left: 20px; padding-right: 20px;
	}
	a {
		color: #343434;
		text-decoration: none;
	}
	table {
		text-align: center;
	}

</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>
	
<!-- 유저프로필 라인 -->
<div id="profile">
	<div th:replace="page_profile/profile.html :: profile-head"></div>
	<div th:replace="page_profile/profile.html :: profile-body"></div>
</div>

<!-- 주문현황 -->
<div class="container mt-4 card-wrapper">
	<div class="row">
		<div class="col-md-10">
			<div class="card-wrapper1">
               <div class="card" id="card1">
               <h5 style="margin-top: 10px;">《나의 정보》</h5>
                  <div class="card-body d-flex justify-content-between">

					  <!--결제 대기-->
					  <div class="card-item text-center">
						  <div class="card">
							  <div class="card-body">
								  <h6>&nbsp;<b>결제 대기</b>&nbsp;</h6>
								  <hr />
								  <a href="/order/order_before_check" class="card-link" th:text="${order_before_pay_cnt}">3</a>
							  </div>
						  </div>
					  </div>

                     <!-- 주문배송 -->
                     <div class="card-item text-center">
                        <div class="card">
                           <div class="card-body">
                              <h6>&nbsp;<b>결제완료</b>&nbsp;</h6>
                              <hr />
                              <a href="/user/user_order" th:text="${orderCount}" class="card-link">7</a>
                           </div>
                        </div>
                     </div>
                     
                     <!-- 장바구니 -->
                     <div class="card-item text-center">
                        <div class="card">
                           <div class="card-body">
                              <h6>&nbsp;<b>장바구니</b>&nbsp;</h6>
                              <hr />
                              <a th:href="@{/user/user_cart(user_idx=${loginUserBean.user_idx})}" th:text="${cartCount}" class="card-link">0</a>
                           </div>
                        </div>
                     </div>
                     
                     <!-- 리뷰작성 -->
                     <div class="card-item text-center">
                        <div class="card">
                           <div class="card-body">
                              <h6>&nbsp;<b>작성리뷰</b>&nbsp;</h6>
                              <hr />
                              <a href="/user/user_review" class="card-link" th:text="${reviewCnt}">1</a>
                           </div>
                        </div>
                     </div>
                     
                     <!-- 적립금 -->
                     <div class="card-item text-center">
                        <div class="card">
                           <div class="card-body">
                              <h6>&emsp;<b>적립금</b>&emsp;</h6>
                              <hr />
                              <a href="/user/user_point" class="card-link" th:text="${loginUserBean.current_point}">7,299</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
	</div>
</div>


<!-- 주문정보 -->
<div class="container mt-2 card-wrapper">
	<div class="row">
		<div class="col-md-10">
			<div class="card" id="card2">
				<table class="table">
					<thead>
						<tr>
							<th>최근 주문 정보</th>
							<th scope="col">상품명</th>
	 						<th scope="col">금액</th>
							<th scope="col">주문일</th>
						</tr>
					</thead>
					
					<tbody class="table-group-divider">
						<tr th:each="order,index : ${orderList}" th:if="${index.index < 3}">
							<th scope="row" th:text="${order.order_idx}">3</th>
							<td>
								<a th:href="@{/goods/goods_page(goods_idx=${order.goods_idx})}" th:text="${order.goods_name}" class="card-link">루안</a>
							</td>
							<td th:text="${order.order_price - order.used_point} + '원'">1,212,980</td>
							<td th:text="${order.order_date}">2023.11.18</td>
						</tr>
						<tr th:if="${#lists.isEmpty(orderList)}">
							<td colspan="4" style="text-align: center;">주문 내역이 없습니다.</td>
						</tr>
					</tbody>
				</table>
				
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a href="/user/user_order" class="btn btn-outline-info" role="button" data-bs-toggle="button" aria-pressed="true">더보기</a>
				</div>
					
			</div>
		</div>
	</div>
</div>

<br> <br> <br> <br> <br>

	
<!-- 관심상품 -->
<div class="container mt-2 card-wrapper">
	<div class="row">
		<div class="col-md-10" >
			<div class="card" id="card3">
				<table class="table">
					<thead>
						<tr>
							<th>관심 상품 정보</th>
							<th style="width:200px;">상품명</th>
	 						<th style="width:300px;" scope="col">금액</th>
						</tr>
					</thead>
					
					<tbody class="table-group-divider">
						<tr th:each="wish,index : ${wishBeanList}" th:if="${index.index < 3}">
							<input type="hidden" th:value="${wish.wish_idx}" th:attr="id='wish_idx' + ${index.index}" />
							<td th:text="${wish.wish_idx}"></td>
							<td>
								<a th:href="@{/goods/goods_page(goods_idx=${wish.goods_idx})}" th:text="${wish.goods_name}" class="card-link"></a>
							</td>
							<td th:text="${wish.goods_price}"></td>
						</tr>
						<tr th:if="${#lists.isEmpty(wishBeanList)}">
							<td colspan="3" style="text-align: center;">관심상품이 없습니다.</td>
						</tr>
					</tbody>
				</table>
				
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a th:href="@{/user/user_wish}" class="btn btn-outline-info" role="button" data-bs-toggle="button" aria-pressed="true">더보기</a>
				</div>
			
			</div>
			<br /> <br />
		</div>
	</div>
</div>
<hr />
	
	<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>
	
</body>
</html>