<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
	.card-profile {
		margin-top: 88px;
		padding-left: 50px;
	}

	.card-wrapper {
		margin-top: 20px;
	}

	#card1 {
		width: 90%;
		margin-top: -890px;
		margin-left: 250px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#card2 {
		width: 90%;
		margin-top: -690px;
		margin-left: 250px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#card3 {
		width: 90%;
		margin-top: -390px;
		margin-left: 250px;
		padding-left: 20px;
		padding-right: 20px;
	}
</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>

<!-- 유저프로필 라인 -->
<div id="profile">
	<div th:replace="page_profile/profile.html :: profile-body"></div>
</div>

<!-- 판매자 메인 -->
<main>
	<div class="container mt-2 card-wrapper">
		<div class="row">
			<div class="col-md-9 text-center" id="card1">
				<br /> <br />
					<h4 class="display-5 fw-normal text-left" th:text="${sellerBean.selling_page_title}">판매자 MyPage</h4>
					<br />
				<div class="btn-group" role="group"
					 aria-label="Basic outlined example" th:replace="seller/import/menu_bar.html :: menu(flag=4,seller_idx=${sellerBean.seller_idx})">
				</div>
				<hr />
				<br />

				<!-- 디자인 수정하기 -->
				<div class="container admin_container">
					<h4 class="display-5 fw-normal text-left">상품 등록</h4>
					<hr />

					<div class="row ">
						<div class="col-md-7 col-lg-8 text-center" style="margin: 0 auto;">

							<div class="form-group productInfo text-left">
								<form action="/goods/add_goods_pro" method="post" th:object="${addGoodsInfoBean}" enctype="multipart/form-data">

									<div class="form-group hidden-xs" id="fileDrop">
										<label for="input-img">대표 이미지.</label> <br>
										<input id="input-img" th:field="*{goods_img_file}" type="file" accept="image/*">
									</div>

									<div class="form-group hidden-xs" id="fileDrop2">
										<label for="input-img">설명 이미지.</label> <br>
										<input id="input-img2" th:field="*{goods_img_file2}" type="file" accept="image/*">
									</div>

									<div class="row g-3">
										<div class="col-sm-6">
											<label>상품명</label>
											<input name="productName" th:field="*{goods_name}" class="form-control" required>
										</div>
										<br />

										<div class="col-sm-6">
											<label>상품가격</label> <input name="price" th:field="*{goods_price}" class="form-control" required>
										</div>
										<br />

										<div class="col-sm-6">
											<label>상품분류</label>
											<div class="form-inline">
												<select class="form-control" id="productDist" onchange="selectOption()">
													<option value="장패드">1. 장패드</option>
													<option value="컵">2. 컵</option>
													<option value="액세서리">3. 액세서리</option>
													<option value="파우치">4. 파우치</option>
													<option value="펫 용품">5. 펫 용품</option>
													<option value="홈 리빙">6. 홈 리빙</option>
												</select>&nbsp;
												<input type="hidden" name="productDist" th:field="*{goods_tag}" id="goods_tag" class="form-control" readonly>
											</div>
										</div>
										<br />

										<div class="col-sm-6">
											<label>상품정보</label>
											<textarea class="form-control" th:field="*{goods_info}" required></textarea>
										</div>
									</div>

									<input type="hidden" th:field="*{seller_idx}">
									<br /><br />

									<div class="btns text-center">
										<button type="submit" class="btn btn-outline-info" id="btn_product_insert">상품 등록</button>
										<button type="button" class="btn btn-outline-secondary" id="btn_product_back">상품 조회</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- class = row -->
			</div>
		</div>
	</div>
</main>
<br /> <br /> <br />
<hr />

<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>

<script>
	function selectOption() {
        let productDist = document.getElementById('productDist').value;

        console.log(productDist);
        $('#goods_tag').val(productDist);
    }


</script>

</body>
</html>