<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>달다구리스</title>
	<!-- bootstrap -->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<style>
	.card-profile {
		margin-top: 88px;
		padding-left: 50px;
	}

	.card-wrapper {
		margin-top: 20px;
	}

	#card1 {
		width: 90%;
		margin-top: -890px;
		margin-left: 250px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#card2 {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
	</style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
	<div th:replace="page_header/header.html :: header-head"></div>
	<div th:replace="page_header/header.html :: header-body"></div>
</div>

<!-- 유저프로필 라인 -->
<div id="profile">
	<div th:replace="page_profile/profile.html :: profile-body"></div>
</div>

<!-- 판매자 메인 -->
<main>
	<div class="container mt-2 card-wrapper">
		<div class="row">
			<div class="col-md-9 text-center" id="card1">
				<br /> <br />
				<h4 class="display-5 fw-normal text-left" th:text="${sellerBean.selling_page_title}">판매자 MyPage</h4>
				<br />

				<div class="btn-group" role="group"
					 aria-label="Basic outlined example" th:replace="seller/import/menu_bar.html :: menu(flag=2,seller_idx=${sellerBean.seller_idx})">
				</div>
				<hr /><br />

				<!-- 디자인 수정하기 -->
				<div class="container admin_container">
					<h4 class="display-5 fw-normal text-left">주문처리 현황</h4><hr />

					<div class="row">
						<div class="card" id="card2">
							<table class="table table-hover">
								<thead>
									<tr >
										<th colspan="2" style="text-align: center;">상품상세</th>
										<th>상품옵션</th>
										<th>상품수량</th>
										<th>결제금액</th>
										<th>결제일</th>
										<th>배송현황</th>
									</tr>
								</thead>

								<tbody style="text-align: center;">
									<tr>
										<td>
											<a href="">
												<img src="../static/img/goods/1724910478950_피어싱(링_7000_알리).JPG" style="width: 90%;">
											</a>
										</td>
										<td>피어싱</td>
										<td>10mm</td>
										<td>1개</td>
										<td>9000원</td>
										<td>2024-09-06</td>
										<td>배송중</td>
									</tr>

								</tbody>
							</table>
							<br>
						</div>
						<br /><br />

						<!-- 페이지 -->
						<div class="d-none d-md-block">
							<ul class="pagination justify-content-center">
								<li class="page-item">
									<a href="#" class="page-link">&laquo;</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">1</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">2</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">3</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">4</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">5</a>
								</li>
								<li class="page-item">
									<a href="#" class="page-link">&raquo;</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<br /> <br /> <br />
<hr />

<!-- 하단 -->
<div id="footer">
	<div th:replace="page_footer/footer.html :: footer-head"></div>
	<div th:replace="page_footer/footer.html :: footer-body"></div>
</div>

</body>
</html>