<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>달다구리스</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <style>
        .card-profile {
            margin-top: 88px;
            padding-left: 50px;
        }
        .card-wrapper {
            margin-top: 20px;
        }
        #card1 {
            width: 90%;
            margin-top: -890px;
            margin-left: 250px;
            padding-left: 20px;
            padding-right: 20px;
        }
        #card2 {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>

<!-- 상단메뉴 -->
<div id="header">
    <div th:replace="page_header/header.html :: header-head"></div>
    <div th:replace="page_header/header.html :: header-body"></div>
</div>

<!-- 유저프로필 라인 -->
<div id="profile">
    <div th:replace="page_profile/profile.html :: profile-body"></div>
</div>

<!-- 판매자 메인 -->
<main>
    <div class="container mt-2 card-wrapper">
        <div class="row">
            <div class="col-md-9 text-center" id="card1">
                <br/> <br/>
                <h4 class="display-5 fw-normal text-left" th:text="${sellerBean.selling_page_title}">판매자 MyPage</h4>
                <br/>

                <div class="btn-group" role="group"
                     aria-label="Basic outlined example" th:replace="seller/import/menu_bar.html :: menu(flag=5,seller_idx=${sellerBean.seller_idx})">
                </div>
                <hr/>
                <br/>
                <!-- 디자인 수정하기 버튼클릭하면 색 차오르는거 유지 -->

                <div class="container admin_container">
                    <h4 class="display-5 fw-normal text-left">상품 리스트</h4>
                    <hr/>

                    <div class="row" style="text-align: center;">
                        <div class="card" id="card2">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>상품ID</th>
                                        <th>상품명</th>
                                        <th>상품가격</th>
                                        <th>재고</th>
                                        <th>상품분류</th>
                                        <th>상품 등록일</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr th:onclick="location.href='/seller/seller_product_read?goods_idx=' + [[${goods.goods_idx}]]" th:each="goods : ${goodsList}">
                                        <td th:text="${goods.goods_idx}">12345</td>
                                        <td th:text="${goods.goods_name}">티셔츠</td>
                                        <td th:text="${goods.goods_price}">₩20,000</td>
                                        <td th:text="${goods.goods_stock}">200</td>
                                        <td th:text="${goods.goods_tag}">상의</td>
                                        <td>
                                            2024-09-04
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<br /> <br /> <br />
<hr />

<!-- 하단 -->
<div id="footer">
    <div th:replace="page_footer/footer.html :: footer-head"></div>
    <div th:replace="page_footer/footer.html :: footer-body"></div>
</div>

</body>
</html>