<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- bootstrap -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
.card-profile {
	margin-top: 88px;
	padding-left: 50px;
}

.card-wrapper {
	margin-top: 20px;
}

#card1 {
	width: 90%;
	margin-top: -990px;
	margin-left: 250px;
	padding-left: 20px;
	padding-right: 20px;
}

#card2 {
	width: 90%;
	margin-top: -690px;
	margin-left: 250px;
	padding-left: 20px;
	padding-right: 20px;
}

#card3 {
	width: 90%;
	margin-top: -390px;
	margin-left: 250px;
	padding-left: 20px;
	padding-right: 20px;
}
</style>
</head>
<body>

	<!-- 상단메뉴 -->
	<div id="header">
		<div th:replace="page_header/header.html :: header-head"></div>
		<div th:replace="page_header/header.html :: header-body"></div>
	</div>

	<!-- 유저프로필 라인 -->
	<div id="profile">
		<div th:replace="page_profile/profile.html :: profile-body"></div>
	</div>


	<!-- 판매자 메인 -->
	<main>
		<div class="container mt-2 card-wrapper">
			<div class="row">
				<div class="col-md-9 text-center" id="card1">
					<br /> <br />
					<h1 class="display-5 fw-normal text-left">판매자 MyPage</h1>
					<br />

					<div class="btn-group" role="group"
						aria-label="Basic outlined example">
						<button type="button" class="btn btn-outline-secondary"
							onclick="location.href='seller_page.html' ">MyPage</button>
						<button type="button" class="btn btn-secondary"
							onclick="location.href='seller_order.html' ">주문 현황</button>
						<button type="button" class="btn btn-outline-secondary"
							onclick="location.href='seller_regular.html' ">단골 관리</button>
						<button type="button" class="btn btn-outline-secondary"
							onclick="location.href='seller_product_insert.html' ">상품
							등록</button>
						<button type="button" class="btn btn-outline-secondary"
							onclick="location.href='seller_list.html' ">상품 조회</button>
						<button type="button" class="btn btn-outline-secondary"
							onclick="location.href='seller_blacklist.html' ">블랙리스트</button>
					</div>
					<hr />
					<br />
					<!-- 디자인 수정하기 -->
					<div class="container admin_container">
					<h1 class="display-5 fw-normal text-left">나의 주문 내역</h1><hr />
					
					<div class="row">
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="2"= style="text-align: center;">상품명</th>
									<th>가격</th>
									<th>수량</th>
									<th>옵션</th>
									<th>결제금액</th>
									<th>결제여부</th>									
									<th>결제일</th>
									<th>배송현황</th>
								</tr>
							</thead>
							<tbody style="text-align: left;">
								<c:choose>
									<c:when test="${orderList == null}">
										<tr style="text-align: center;"><td colspan="8"><h3>주문 내역이 없습니다.</h3></td></tr>
									</c:when>
									<c:otherwise>
										<c:forEach items="${orderList}" var="dto">
											<tr>
												<td style="text-align: center;"><img alt="thumbnail"
													src="/resources/upload${dto.fullname}" width="40%"> <input
													type="hidden" value="${dto.productId}" name="productId"
													id="productId"></td>
												<td>${dto.productName}<br>${dto.productInfo}</td>
												<td><fmt:formatNumber type="number"
														value="${dto.price}" />&nbsp;원</td>
												<td>${dto.order_Qty}</td>
												<td>${dto.selected_Opt}</td>
												<td><fmt:formatNumber type="number"
														value="${dto.totalAmount}" />&nbsp;원</td>
												<td><fmt:formatDate value="${dto.billingDate}"
														type="date" pattern="yyyy-MM-dd" /></td>
												<td>${dto.deliver_situ == 0 ? "배송준비중" : 
															dto.deliver_situ == 1 ? "배송중" : "배송완료"}</td>
												<c:choose>
													<c:when test="${dto.deliver_situ != 0}">
														<td>
															<button class="btn btn-default disable"
																disabled="disabled">주문취소</button>
															<br>
															<button class="btn btn-default disable"
																disabled="disabled">주문변경</button>
															<br>
														</td>
													</c:when>
													<c:otherwise>
														<td>
															<button class="btn btn-default order_cancel"
																onclick="location.href='/order/cancel/'+ ${dto.orderId}">주문취소</button>
															<br>
															<button class="btn btn-default">주문변경</button>
														</td>
													</c:otherwise>
												</c:choose>
											</tr>
										</c:forEach>
									</c:otherwise>
								</c:choose>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</div><!-- class=row -->
[출처] [Spring] 쇼핑몰 만들기 11. 주문하기 기능 구현 (1) 개별상품 주문하기|작성자 워니

				</div>
			</div>
		</div>
	</main>

	<!-- 하단 -->
	<div id="footer">
		<div th:replace="page_footer/footer.html :: footer-head"></div>
		<div th:replace="page_footer/footer.html :: footer-body"></div>
	</div>

</body>
</html>