<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>달다구리스</title>
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<style>
.card-profile {
	margin-top: 88px;
	padding-left: 50px;
}

.card-wrapper {
	margin-top: 20px;
}

#card1 {
	width: 90%;
	margin-top: -890px;
	margin-left: 250px;
	padding-left: 20px;
	padding-right: 20px;
}

#card2 {
	width: 90%;
	margin-top: -690px;
	margin-left: 250px;
	padding-left: 20px;
	padding-right: 20px;
}

#card3 {
	width: 90%;
	margin-top: -390px;
	margin-left: 250px;
	padding-left: 20px;
	padding-right: 20px;
}
</style>
</head>
<body>

	<!-- 상단메뉴 -->
	<div id="header">
		<div th:replace="page_header/header.html :: header-head"></div>
		<div th:replace="page_header/header.html :: header-body"></div>
	</div>

	<!-- 유저프로필 라인 -->
	<div id="profile">
		<div th:replace="page_profile/profile.html :: profile-body"></div>
	</div>

	<!-- 판매자 메인 -->
	<main>
		<div class="container mt-2 card-wrapper">
			<div class="row">
				<div class="col-md-9 text-center" id="card1">
					<br /> <br />
					<h1 class="display-5 fw-normal text-left" th:text="${sellerBean.selling_page_title}">판매자 MyPage</h1>
					<br />

					<div class="btn-group" role="group"
						 aria-label="Basic outlined example" th:replace="seller/import/menu_bar.html :: menu(flag=5,seller_idx=${sellerBean.seller_idx})">
					</div>
					<hr />
					<br />
					<!-- 디자인 수정하기 -->
					<div class="container admin_container">
						<h1 class="display-5 fw-normal text-left">상품 정보</h1>
						<hr />
						<br /> <br /> <br />
						<!-- 							<h1 class="jumbotron" style="text-align: center; margin: 50px 0;">${productInfo.productId}</h1> -->
						<div class="row">
						 <div class="col-md-7 col-lg-8 text-center" style="margin:0 auto;">
							<div class="form-group productInfo text-left" >
								<form action="/goods/goods_update" method="post" th:object="${goodsBean}" enctype="multipart/form-data">
									<div class="row g-3">
										<input type="hidden" id="goods_idx" th:field="*{goods_idx}">
										<div class="form-group hidden-xs" id="fileDrop">
											<label for="goods_img">상점 이미지 변경.</label> <br>
											<input type="file" id="goods_img" th:field="*{page_img}">
										</div>
										<div class="col-sm-6">
											<label for="goods_name">상품명</label>
											<input id="goods_name" class="form-control" th:field="*{goods_name}" required>
										</div>
										<br />
										<div class="col-sm-6">
											<label for="price">상품가격</label>
											<input id="price" class="form-control" th:field="*{goods_price}" required>
										</div>
										<br />
										<div class="col-sm-6">
											<label for="goods_stock">재고</label>
											<input id="goods_stock" class="form-control" th:field="*{goods_stock}" required>
										</div>
										<br />
										<div class="col-sm-6">
											<label for="goods_text">상품정보</label>
											<input id="goods_text" class="form-control" th:field="*{goods_text}" required>
										</div>
										<br />
										<div class="col-sm-6">
											<label for="add-option-name">옵션 추가</label>
											<span>
												<label for="add-option-name"> 옵션 이름</label><input type="text" class="form-group" id="add-option-name">
												<label for="add-option-price">추가 금액</label><input type="text" class="form-group" id="add-option-price">
												<button type="button" class="btn btn-outline-info btn-sm" onclick="addOption()">추가</button>
											</span>
											<div id="option-list" style="overflow-x:hidden; height:150px;">
												<div class="option-col" th:each="option : *{goods_option}">
													<span class="option-name" th:text="${option.option_name}"></span>
													<span class="option-price" th:text="${option.option_price}"></span>
													<button type="button" class="btn btn-outline-danger btn-sm" th:onclick="deleteOption([[${option.option_idx}]])">삭제</button>
												</div>
											</div>
										</div>
									</div>
									<br />
									<div class="btns text-center">
										<button type="submit" class="btn btn-outline-secondary" id="btn_product_update">상품정보 수정</button>
										<button type="button" class="btn btn-outline-danger" id="btn_product_delete" onclick="deleteGoods()">상품 삭제</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- class = row -->
			</div>
		</div>
	</div>
	</main>
	<script>
		function input_tag() {
            let productDist = document.getElementById('goods_tag').value;
            let productTag = document.getElementById('goods_category');
            productTag.value(productDist);
        }

		function addOption() {
			let optionName = $("#add-option-name").val();
			let optionPrice = $("#add-option-price").val();
			let goods_idx = $("#goods_idx").val();

			if(optionName != '' && optionPrice != ''){
				$.ajax({
				    url: '/rest/goods/add_option',
                    type: 'POST',
                    data: {option_name: optionName, option_price: optionPrice, goods_idx: goods_idx},
                    success: function(result){
                    	alert(result);
                    	location.reload();
                    }
				});
                $("#add-option-name").val('');
                $("#add-option-price").val('');
			}
		}
		function addcol(Name, Price){
		    let Div = $('<div></div>').addClass('option-col');
		    let option_name = $('<span></span>').addClass('option-name').text(Name);
		    let option_price = $('<span></span>').addClass('option-price').text(Price);
		    let del_btn = $('<button></button>').addClass('btn btn-outline-danger del_btn').attr('type', 'button').attr('onclick', "deleteOption('" + Name + "')").text("옵션 삭제");

		    Div.append(option_name).append(option_price).append(del_btn);
		    $('#option-list').append(Div);
		}

		function deleteOption(idx){
            $.ajax({
            	url: '/rest/goods/delete_option',
                type: 'POST',
                data: {option_idx: idx},
                success: function(result){
                    alert(result);
                    location.reload();
                }
            });
        }

		function deleteGoods(){
			let result = confirm('해당상품을 삭제하시겠습니까?');
			$.ajax({
				url: '/rest/goods/delete',
				type: 'POST',
                data: {goods_idx: $("#goods_idx").val()},
                success: function(data){
                	alert('상품정보를 삭제했습니다.');
                	location.href = '/seller/seller_list';
                }
			});
		}
	</script>
	<!-- 하단 -->
	<div id="footer">
		<div th:replace="page_footer/footer.html :: footer-head"></div>
		<div th:replace="page_footer/footer.html :: footer-body"></div>
	</div>

</body>
</html>